<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuth2AuthUrl</key>
	<string>https://www.example.com/oauth/authorize</string>
	<key>OAuth2TokenUrl</key>
	<string>https://www.example.com/oauth/token</string>
	<key>OAuth2ClientId</key>
	<string>YourClientId</string>
	<key>OAuth2Secret</key>
	<string>YourSecret</string>
	<key>OAuth2Scope</key>
	<string>public</string>
	<key>OAuth2RedirectUri</key>
	<string>yourapp://oauth/response</string>
</dict>
</plist>
