<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OAuth2AuthUrl</key>
	<string>https://staging.geniusu.com/oauth/authorize</string>
	<key>OAuth2TokenUrl</key>
	<string>https://staging.geniusu.com/oauth/token</string>
	<key>OAuth2ClientId</key>
	<string>8fb13e10e4ea876fef9b8e5b123880c61d0613f2ca1d0821584b59051888f961</string>
	<key>OAuth2Secret</key>
	<string>a8704d51bf3597d349870c633af09c0805523418bff77b297711aa07fad6eb6f</string>
	<key>OAuth2Scope</key>
	<string>profile</string>
	<key>OAuth2RedirectUri</key>
	<string>yourapp://oauth/response</string>
</dict>
</plist>
